language: python

jobs:
  include:
    - env: TOXENV=master
      python: 2.7
      after_success: codecov
    - env: TOXENV=pre-commit
      python: 3.7
      dist: xenial

install:
  - pip install tox-travis
  - pip install codecov

script: tox
